<h4>hey</h4><%= @user.name%>

<h3> fill in ur shit!!</h3>
<%= link_to 'Basic shit', basic_info_path  %>

<%= @user_basic.full_name%>



 <p>
      <%= link_to 'log out', destroy_user_session_path , method: :delete %>
  </p>

